DATABASE_URL=postgresql://postgres:newpassword@localhost:5432/inventory_mgmt
SECRET_KEY=change-this-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:3001,http://127.0.0.1:3001
TIME_ZONE=Asia/Dhaka

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=aec8242dada837
SMTP_PASSWORD=bf3dba696e0515
EMAIL_FROM=noreply@inventorymgmt.com
FRONTEND_URL=http://localhost:3001
BACKEND_URL=http://localhost:8001
